name: ci

on: [push, pull_request]

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: shfmt
        if: matrix.os == 'macOS-latest'
        run: |
          brew install shfmt
          shfmt -d .

      - name: tests shell
        if: matrix.os != 'windows-latest'
        shell: bash
        run: ./install_test.sh

      - name: tests powershell
        if: matrix.os == 'windows-latest'
        run: ./install_test.ps1

      - name: tests powershell core
        if: matrix.os == 'windows-latest'
        shell: pwsh
        run: ./install_test.ps1